<a href="https://colab.research.google.com/github/renaduay/MJR-Big-Data/blob/main/SQL_vs_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Introducción


* Breve descripción general de Pandas y su importancia.
* Discusión sobre SQL y su relación con las operaciones de Pandas DataFrame.

# 2. Setup

In [ ]:
import sqlite3 # a module in Python's standard library that provides an interface to the SQLite database.
import pandas as pd

In [ ]:
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
titanic_data = pd.read_csv(url)

In [ ]:
conn = sqlite3.connect(':memory:')
titanic_data.to_sql('titanic', conn, index=False)

887

**sqlite3.connect()** es una función que establece una conexión a una base de datos SQLite. Cuando se proporciona el argumento ':memory:', se le indica a SQLite que cree una nueva base de datos en la RAM. La principal ventaja de utilizar una base de datos en memoria es la velocidad.

**.to_sql()** es un método proporcionado por Pandas DataFrames que le permite escribir el contenido del DataFrame en una base de datos SQL.

El primer argumento 'titanic' es el nombre de la tabla que se creará en la base de datos SQLite.

El segundo argumento conn es el objeto de conexión que creamos anteriormente. Le indica al método .to_sql() dónde crear la tabla.

El argumento index=False le indica a Pandas que no escriba el índice del DataFrame como una columna separada en la base de datos. Si omitiera este argumento, obtendría una columna adicional llamada 'index' en su tabla SQL.

Función para ejecutar las queries

In [ ]:
# Function to run querys
def run_query(query, connection=conn):
    return pd.read_sql_query(query, connection)

# 3. SQL vs. Pandas

Para **SQL** nuestra tabla se llama *titanic*

Para **pandas** nuestro df se llama *titanic_data*

In [ ]:
#Veo mis datos
titanic_data

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500



*   **Ver los nombres de 10 pasajeros**

In [ ]:
# Usando SQL

run_query("SELECT name FROM titanic LIMIT 10")

                                                Name
0                             Mr. Owen Harris Braund
1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2                              Miss. Laina Heikkinen
3        Mrs. Jacques Heath (Lily May Peel) Futrelle
4                            Mr. William Henry Allen
5                                    Mr. James Moran
6                             Mr. Timothy J McCarthy
7                      Master. Gosta Leonard Palsson
8   Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson
9                 Mrs. Nicholas (Adele Achem) Nasser

In [ ]:
# Usando Pandas

titanic_data.head(10)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
5,0,3,Mr. James Moran,male,27.0,0,0,8.4583
6,0,1,Mr. Timothy J McCarthy,male,54.0,0,0,51.8625
7,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333
9,1,2,Mrs. Nicholas (Adele Achem) Nasser,female,14.0,1,0,30.0708

**¿Cuántas clases diferentes hay?**

In [ ]:
# Usando SQL

run_query(
"""
SELECT COUNT(DISTINCT Pclass) AS num_classes
FROM titanic
"""
)

   num_classes
0            3

In [ ]:
# Usando Pandas

num_classes = titanic_data['Pclass'].nunique()
print(f"Número de clases diferentes: {num_classes}")

Número de clases diferentes: 3

**Mostrar los pasajeros ordenados por edad**

In [ ]:
# Usando SQL

run_query(
"""
SELECT name
FROM titanic
ORDER BY age
"""
)

                                    Name
0         Master. Assad Alexander Thomas
1               Master. Viljo Hamalainen
2           Miss. Helene Barbara Baclini
3                  Miss. Eugenie Baclini
4           Master. Alden Gates Caldwell
..                                   ...
882                  Mr. Patrick Connors
883             Mr. George B Goldschmidt
884               Mr. Ramon Artagaveytia
885                   Mr. Johan Svensson
886  Mr. Algernon Henry Wilson Barkworth

[887 rows x 1 columns]

In [ ]:
# Usando Pandas
# Ordenar el DataFrame por la columna 'Age'
passengers_sorted_by_age = titanic_data.sort_values(by='Age')

# Mostrar los pasajeros ordenados por edad
print(passengers_sorted_by_age)

     Survived  Pclass                                 Name     Sex    Age  \
799         1       3       Master. Assad Alexander Thomas    male   0.42
751         1       2             Master. Viljo Hamalainen    male   0.67
641         1       3                Miss. Eugenie Baclini  female   0.75
466         1       3         Miss. Helene Barbara Baclini  female   0.75
827         1       2       Master. George Sibley Richards    male   0.83
..        ...     ...                                  ...     ...    ...
115         0       3                  Mr. Patrick Connors    male  70.50
490         0       1               Mr. Ramon Artagaveytia    male  71.00
95          0       1             Mr. George B Goldschmidt    male  71.00
847         0       3                   Mr. Johan Svensson    male  74.00
627         1       1  Mr. Algernon Henry Wilson Barkworth    male  80.00

     Siblings/Spouses Aboard  Parents/Children Aboard     Fare
799                        0                        1   8.5167
751                        1                        1  14.5000
641                        2                        1  19.2583
466                        2                        1  19.2583
827                        1                        1  18.7500
..                       ...                      ...      ...
115                        0                        0   7.7500
490                        0                        0  49.5042
95                         0                        0  34.6542
847                        0                        0   7.7750
627                        0                        0  30.0000

[887 rows x 8 columns]

**Mostrar los pasajeros que sobrevivieron**

In [ ]:
# Usando SQL

run_query(
"""
SELECT *
FROM titanic
WHERE survived = 1
"""
)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
1,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
2,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
3,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333
4,1,2,Mrs. Nicholas (Adele Achem) Nasser,female,14.0,1,0,30.0708
...,...,...,...,...,...,...,...,...
337,1,3,Miss. Adele Kiamie Najib,female,15.0,0,0,7.2250
338,1,1,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter,female,56.0,0,1,83.1583
339,1,2,Mrs. William (Imanita Parrish Hall) Shelley,female,25.0,0,1,26.0000
340,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
341,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000

In [ ]:
# Usando Pandas
# Filtrar los pasajeros que sobrevivieron
survived_passengers = titanic_data[titanic_data['Survived'] == 1]

# Mostrar los pasajeros que sobrevivieron
print(survived_passengers)

     Survived  Pclass                                               Name  \
1           1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2           1       3                              Miss. Laina Heikkinen
3           1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
8           1       3   Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson
9           1       2                 Mrs. Nicholas (Adele Achem) Nasser
..        ...     ...                                                ...
871         1       3                           Miss. Adele Kiamie Najib
875         1       1       Mrs. Thomas Jr (Lily Alexenia Wilson) Potter
876         1       2        Mrs. William (Imanita Parrish Hall) Shelley
883         1       1                        Miss. Margaret Edith Graham
885         1       1                               Mr. Karl Howell Behr

        Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
1    female  38.0                        1                        0  71.2833
2    female  26.0                        0                        0   7.9250
3    female  35.0                        1                        0  53.1000
8    female  27.0                        0                        2  11.1333
9    female  14.0                        1                        0  30.0708
..      ...   ...                      ...                      ...      ...
871  female  15.0                        0                        0   7.2250
875  female  56.0                        0                        1  83.1583
876  female  25.0                        0                        1  26.0000
883  female  19.0                        0                        0  30.0000
885    male  26.0                        0                        0  30.0000

[342 rows x 8 columns]

**Mostrar los pasajeros que no sobrevivieron y tenían menos de 30 años**

In [ ]:
# Usando SQL

run_query(
"""
SELECT *
FROM titanic
WHERE survived = 0 AND age < 30
"""
    )

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,0,3,Mr. James Moran,male,27.0,0,0,8.4583
2,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750
3,0,3,Mr. William Henry Saundercock,male,20.0,0,0,8.0500
4,0,3,Miss. Hulda Amanda Adolfina Vestrom,female,14.0,0,0,7.8542
...,...,...,...,...,...,...,...,...
300,0,3,Miss. Gerda Ulrika Dahlberg,female,22.0,0,0,10.5167
301,0,2,Mr. Frederick James Banfield,male,28.0,0,0,10.5000
302,0,3,Mr. Henry Jr Sutehall,male,25.0,0,0,7.0500
303,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
304,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500

In [ ]:
# Usando Pandas

import pandas as pd

# Cargar los datos desde la URL (si aún no se ha hecho)
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
titanic_data = pd.read_csv(url)

# Filtrar los pasajeros que no sobrevivieron y tenían menos de 30 años
non_survivors_under_30 = titanic_data[(titanic_data['Survived'] == 0) & (titanic_data['Age'] < 30)]

# Mostrar los resultados
print("Passengers who did not survive and were under 30 years old:")
print(non_survivors_under_30)

Passengers who did not survive and were under 30 years old:
     Survived  Pclass                                 Name     Sex   Age  \
0           0       3               Mr. Owen Harris Braund    male  22.0
5           0       3                      Mr. James Moran    male  27.0
7           0       3        Master. Gosta Leonard Palsson    male   2.0
12          0       3        Mr. William Henry Saundercock    male  20.0
14          0       3  Miss. Hulda Amanda Adolfina Vestrom  female  14.0
..        ...     ...                                  ...     ...   ...
878         0       3          Miss. Gerda Ulrika Dahlberg  female  22.0
879         0       2         Mr. Frederick James Banfield    male  28.0
880         0       3                Mr. Henry Jr Sutehall    male  25.0
882         0       2                 Rev. Juozas Montvila    male  27.0
884         0       3       Miss. Catherine Helen Johnston  female   7.0

     Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0                          1                        0   7.2500
5                          0                        0   8.4583
7                          3                        1  21.0750
12                         0                        0   8.0500
14                         0                        0   7.8542
..                       ...                      ...      ...
878                        0                        0  10.5167
879                        0                        0  10.5000
880                        0                        0   7.0500
882                        0                        0  13.0000
884                        1                        2  23.4500

[305 rows x 8 columns]

Mostrar pasajeron que tienen entre 30 y 50 años

In [ ]:
# Usando SQL

run_query(
"""
SELECT *
FROM titanic
WHERE age BETWEEN 30 AND 50
"""
    )

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
1,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
2,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
3,0,3,Mr. Anders Johan Andersson,male,39.0,1,5,31.2750
4,0,3,Mrs. Julius (Emelia Maria Vandemoortele) Vande...,female,31.0,1,0,18.0000
...,...,...,...,...,...,...,...,...
318,0,1,Mr. Frans Olof Carlsson,male,33.0,0,0,5.0000
319,0,3,Mr. Victor Vander Cruyssen,male,47.0,0,0,9.0000
320,0,3,Mr. Johann Markun,male,33.0,0,0,7.8958
321,0,3,Mrs. William (Margaret Norton) Rice,female,39.0,0,5,29.1250
322,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

In [14]:
# Usando Pandas
# Filtrar los pasajeros que tienen entre 30 y 50 años
passengers_30_to_50 = titanic_data[(titanic_data['Age'] >= 30) & (titanic_data['Age'] <= 50)]

# Mostrar los pasajeros que tienen entre 30 y 50 años
print(passengers_30_to_50)

     Survived  Pclass                                               Name  \
1           1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
3           1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4           0       3                            Mr. William Henry Allen
13          0       3                         Mr. Anders Johan Andersson
18          0       3  Mrs. Julius (Emelia Maria Vandemoortele) Vande...
..        ...     ...                                                ...
868         0       1                            Mr. Frans Olof Carlsson
869         0       3                         Mr. Victor Vander Cruyssen
877         0       3                                  Mr. Johann Markun
881         0       3                Mrs. William (Margaret Norton) Rice
886         0       3                                 Mr. Patrick Dooley

        Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
1    female  38.0                        1                        0  71.2833
3    female  35.0                        1                        0  53.1000
4      male  35.0                        0                        0   8.0500
13     male  39.0                        1                        5  31.2750
18   female  31.0                        1                        0  18.0000
..      ...   ...                      ...                      ...      ...
868    male  33.0                        0                        0   5.0000
869    male  47.0                        0                        0   9.0000
877    male  33.0                        0                        0   7.8958
881  female  39.0                        0                        5  29.1250
886    male  32.0                        0                        0   7.7500

[323 rows x 8 columns]

**¿Cuántos pasajeros se llaman 'John'?**

In [ ]:
# Usando SQL

run_query(
"""
SELECT COUNT(*) AS num_johns
FROM titanic
WHERE name LIKE '%John%'
"""
    )

   num_johns
0         52

In [15]:
# Usando Pandas

# Filtrar los pasajeros que tienen 'John' en su nombre
john_passengers = titanic_data[titanic_data['Name'].str.contains('John', case=False, na=False)]

# Contar cuántos pasajeros tienen 'John' en su nombre
num_john = john_passengers.shape[0]

# Mostrar el resultado
print(f"Número de pasajeros que se llaman 'John': {num_john}")

Número de pasajeros que se llaman 'John': 52